body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 3843px;
    background-color: white;
}
#navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    min-width: 30px;
    max-height: 30px;
    margin-left: 140px;
}   
.brandname {
    min-width: 140px;
    max-height: 30px;
    margin-left: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 500px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 15px;
    opacity: 0.7;
    font-size: 14px;
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button {
    background-color: #FF9900;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 5px;
}
#signin {
    background: rgb(255, 255, 255);
    color: black;
    margin-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#signup {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.maininfo {
    width: 100%;
    margin-left: 140px;
    margin-right: 140px;
}
section {
    position: absolute;
    width: 1126px;
    height: 496px;
    left: 145px;
    top: 168px;
}
.maincontainer {
    position: absolute;
    width: 1126px;
    height: 496px;
    left: 20px;
    top: 0px;
}
.maininfotext {
    width: 500px;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
}
.maininfotext p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.maininfoimage { 
    float: right; 
    position: relative; 
} 
.frontimg { 
    position: absolute; 
    top: 0; 
    right: 0; 
} 
#watchvideobtn {
    background: white;
}
.featuresection {
    position: absolute;
    width: 2211px;
    height: 543px;
    left: -406px;
    top: 734px;  
}
.featurecontainer {
    position: absolute;
    width: 1095px;
    height: 204px;
    left: 567px;
    top: 100px;
}
.featuretitle {
    position: absolute;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 54px;
    text-align: center;
}
.featureboxclick {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 120px;
    top: 162px;
}
.featureboxdesign {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 350px;
    top: 162px;
}
.featurepref {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 580px;
    top: 162px;
}
.featurefivesec {
    position: absolute;
    width: 240px;
    height: 204px;
    left: 810px;
    top: 162px;
}
.featurebutton {
    position: absolute;
    left: 48.45%;
    right: 45.64%;
    top: 90.66%;
    bottom: 16.57%;
    box-shadow:
     none;   
}
.valcontainer {
    position: absolute;
    width: 1110px;
    height: 574px;
    left: 20px;
    top: 1197px;
}
.valtext {
    position: absolute;
    width: 456px;
    height: 531px;
    left: 0px;
    top: 0px;
}
.valimage {
    position: absolute;
    width: 590px;
    height: 574px;
    left: 575px;
    top: 0px;
}
.productmancontainer {
    position: absolute;
    width: 1121px;
    height: 421px;
    left: 20px;
    top: 1872px;
}
.productmanimage {
    position: absolute;
    width: 400px;
    height: 521px;
    left: 0px;
    top: 0px;
}
.productmantext {
    position: absolute;
    width: 486px;
    height: 427px;
    left: 650px;
    top: 0px;
    padding: 10px;
}
.checkiconfirst {
    position: absolute;
    top: 20px;
    left: -60px;
    min-width: 30px;
    min-height: 30px;
}
.checkiconmiddle {
    position: absolute;
    top: 29px;
    left: -60px;
    min-width: 30px;
    min-height: 30px;
}
.checkiconlast {
    position: absolute;
    top: 30px;
    left: -60px;
    min-width: 30px;
    min-height: 30px;
}
.textboxfirst {
    position: absolute;
    top: 220px;
    left: 90px;
}
.textboxmiddle {
    position: absolute;
    top: 300px;
    left: 90px;
}
.textboxlast {
    position: absolute;
    top: 390px;
    left: 90px;
}
.marketerscontainer {
    position: absolute;
    width: 1110px;
    height: 509px;
    left: 20px;
    top: 2497px;
    left: 20px;
}
.marketerstext {
    position: absolute;
    width: 486px;
    height: -30px;
    left: 0px;
    top: 0px;
}
.marketersimage {
    position: absolute;
    width: 542px;
    height: 609px;
    left: 565px;
    top: 0px;
}
.footercontainer {
    position: absolute;
    width: 1109px;
    height: 308px;
    left: 160px;
    top: 3402px;
    font-weight: 200;
}
.footerboxfirst {
    position: absolute;
    width: 218px;
    height: 205px;
    left: 30px;
    top: 30px;
}
.footerbrand {
    min-width: 110px;
    min-height: 30px;
    margin-left: 5px;
}
.footerbrand {
    max-width: 60px;
}
.footerboxmiddleleft {
    position: absolute;
    width: 218px;
    height: 190px;
    left: 330px;
    top: calc(50% - 140px/2 + 32.5px);
}
.footerboxmiddleright {
    position: absolute;
    height: 140px;
    left: 55%;
    right: -0.76%;
    top: calc(50% - 140px/2 + 32.5px);
}
.footerboxlast {
    position: absolute;
    width: 260px;
    height: 70px;
    left: 900px;
    top: 220px;
}